@charset "UTF-8";

/* 回答はここに書いてね */
.wrapper {
  position: relative;
}
.q5-container {
  width: 500px;
  height: 500px;
  background-color: #ecf1f2;
  margin: auto;
  position: relative;
}

.q5-box-top-nine {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #2b69a3;
  font-size: 30px;
  font-weight: bold;
  z-index: 10;
}

.q5-box {
  width: 100px;
  height: 100px;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  
}

.one {
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
  z-index: 1;
}

.two {
  background-color: #7084de;
  top: 120px;
  right: 120px;
  z-index: 2;
}

.three {
  background-color: #d0ecea;
  top: 200px;
  right: 40px;
  z-index: 3;
}

.four {
  background-color: #8b7a5e;
  bottom: 120px;
  right: 120px;
  z-index: 4;
}

.five {
  background-color: #9fd6d2;
  bottom: 40px;
  left: 200px;
  z-index: 5;
}

.six {
  background-color: #fffee4;
  bottom:120px;
  left: 120px;
  z-index: 6;
}

.seven {
  background-color: #deae70;
  top: 200px;
  left: 40px;
  z-index: 7;
}

.eight {
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 8;
}

/*.small {
  background-color: #ffefd3;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 9;
} */

.eight::after {
  background-color: #ffefd3;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  content: "";
}

/* 回答はここに書いてね */
